<body>
    <div class="container">

        {{#each post}}
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <a href={{this.url}} class="card-link">Read on Medium</a>
                    <br><br>
                    <p class="card-text"><strong>Article Summary:</strong> {{this.summary}}</p>
                    <button type="button" class="btn btn-save" data-id={{this._id}}>Save Article</button>
                </div>
            </div>
            <br>
        {{/each}}

    </div>
</body>